.card-container {
  //display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 45px 2fr 40px;
  background-color: $Color-Secondaire;
  //padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0 4px;
    min-height: 35px;
    grid-column: 1/5;
    color: $Color-Tertiaire;
    padding: 0 3% 0 3%;
    ;

  }

  .post-container {
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100%;
    //border: $Color-Tertiaire 5px solid;
    //padding: 16px 40px;
    //border-radius: 20px;
    color: $Color-Tertiaire;
    white-space: pre-wrap;
    position: relative;

    p {
      padding: 0 5% 0 5%;

    }

    iframe,
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-height: 700px;
      margin-bottom: 10px;
      /*Méthode de centrage en fonction de la taille de l'image */

      //object-fit: scale-down; //Permet de ne pas avoir une image flou


    }

    iframe {
      width: 80%;
    }



    .update-post {
      textarea {
        border: 3px solid $Color-Tertiaire;
        padding: 10px;
        width: 100%;
        height: 100%;
        display: block;
        background-color: $Color-Secondaire;
        resize: none;

        min-height: 100px;


      }

    }

    .button-container {

      button {
        background: $Color-Secondaire;
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        cursor: pointer;
        border: 3px solid $Color-Tertiaire;
        transition: 400ms;

        &:hover {

          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .update-image-btn {
      margin-bottom: 10px;
      display: flex;


    }

  }

  .card-footer {
    display: flex;
    flex-direction: column;
    grid-column: 1/5;

    margin-top: 20px;


    .post-edit-like-delete {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 15% 10px 15%;
      margin: 0 auto;
      margin-bottom: 10px;
      border-top: 2px solid $Color-Tertiaire;
      border-bottom: 2px solid $Color-Tertiaire;

      .comment-icon,
      .edit-icon,
      .like-icon,
      .delete-icon {
        cursor: pointer;
        color: $Color-Tertiaire;


        &:hover {
          color: $Color-Primaire;
        }

      }

      .like-icon {
        width: 40px;
      }

      .LikeButton {
        color: $Color-Primaire;
        font-size: 25px;
      }


    }

  }


}