.new-post-container {
    margin : 0 20px 0 20px ;
    padding: 16px 40px;
    border-radius: 20px;
    position: relative;
    background-color: $Color-Tertiaire;
    opacity: 0.5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    &:hover {
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); 
  }
    iframe,img {
      width: 100%;
      border-radius: 10px;
      opacity : 1;
    }
    
    .post-form {
        position: relative;
        margin: 0 auto 0;

        .email {
          text-align: right;
        }
    
        textarea {
          height: 100%;
          width: 100%;
          font-size: 1rem;
          padding: 30px 5px  5px 10px;
          border-radius: 20px 20px 20px 20px;
        }}
        span {
        position: absolute;
    right: 42px;
    text-align: right;
      font-weight: bold;
    }

        input {
            width: 25px;
            height: 25px;
            position: absolute;
            transform: translate(-16px, -3px);
            opacity: 0;
            cursor: pointer;
          }
          .img-upload i {
            text-align: right;
            opacity: 1;
          }
          .btn-form{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;
            
            button  {
              background-color : $Color-Primaire;
              border-radius: 5px 5px 5px 5px;
              border : none;
              height: 30px;
              
              
          cursor: pointer;
            }
          }

}