.main {
    margin: 0 10% 0 10%;

    @include mobile-only {
        margin: 0 2% 0 2%;
    }

    .home-header {

        p {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 80%;
            border-radius: 20px;
            margin: 0 auto;
            opacity: 0.5;
            font-weight: bold;
        }
    }
}